[submodule "scribbler/pelican-cite"]
	path = scribbler/pelican-cite
	url = https://github.com/cmacmackin/pelican-cite.git
[submodule "scribbler/figureAltCaption"]
	path = scribbler/figureAltCaption
	url = https://github.com/jdittrich/figureAltCaption.git
[submodule "scribbler/figure-ref"]
	path = scribbler/figure-ref
	url = https://github.com/cmacmackin/figure-ref.git
[submodule "scribbler/pdf-img"]
	path = scribbler/pdf-img
	url = https://github.com/cmacmackin/pdf-img.git
[submodule "scribbler/notebook-theme/static/js/MathJax"]
	path = scribbler/notebook-theme/static/js/MathJax
	url = https://github.com/mathjax/MathJax.git
